<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.main.dao.MenuDao">
    <resultMap id="menuResult" type="com.main.dto.MenuDTO">
        <result column="menuId" property="menuId" />
        <result column="menuName" property="menuName" />
        <result column="url" property="url" />
        <result column="state" property="state" />
        <result column="createTime" property="createTime" />
        <collection property="subMenuList" ofType="com.main.bean.SubMenu"
                    resultMap="subMenuResult"></collection>

    </resultMap>


    <resultMap id="subMenuResult" type="com.main.bean.SubMenu">
        <result column="subMenuId" property="subMenuId" />
        <result column="parentId" property="parentId" />
        <result column="subMenuName" property="subMenuName" />
        <result column="suburl" property="url" />
        <result column="substate" property="state" />
        <result column="subcreateTime" property="createTime" />
    </resultMap>


    <select id="findMenus" resultMap="menuResult">
        SELECT menuId,
            menuName,
            m.url,
            m.state,
            m.createTime,
            subMenuId,
            parentId,
            subMenuName,
            s.url suburl,
            s.state substate,
            s.createTime subcreateTime
        FROM menu m left join submenu s
        on m.menuId = s.parentId
    </select>


    <!--根据给定的一级菜单编号和二级菜单编号，查出相应的一级菜单和二级菜单
    因为有些一级菜单（比如首页）没有子菜单（二级菜单），所有给角色配置菜单时，
    只能配一级菜单编号。-->
    <select id="findMenusByMenuId" resultMap="menuResult">
        SELECT menuId,
        menuName,
        m.url,
        m.state,
        m.createTime,
        subMenuId,
        parentId,
        subMenuName,
        s.url suburl,
        s.state substate,
        s.createTime subcreateTime
        FROM menu m left join submenu s
        on m.menuId = s.parentId
        where menuId in
        <foreach collection="menuIds" item="menuIdd"
                 open="(" close=")" separator=",">
            <if test="menuIdd.length == 2">
              #{menuIdd}
            </if>
        </foreach>
        or subMenuId in
        <foreach collection="menuIds" item="subMenuId"
                 open="(" close=")" separator=",">
            <if test="subMenuId.length == 4">
                #{subMenuId}
            </if>
        </foreach>
    </select>

</mapper>